<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% if user.is_authenticated %}
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'skills/fit.png' %}" alt=""></a>
        </div>
        <ul>
            <li class="logo"><a href="{% url 'account' %}">Пользователь: {{ user.username }}</a></li>
            <li>
              <form action="{% url 'logoutuser' %}" method="post">
                {% csrf_token %}
                <button class="top">Выйти</button>
              </form>
            </li>
        </ul>
    </div>
</div>
{% else %}
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'skills/fit.png' %}" alt=""></a>
        </div>
        <ul>
            <li><a href="{% url 'signupuser' %}">Я тренер</a></li>
            <li><a href="{% url 'profiles' %}">Ищу тренера</a></li>
            <li><a href="{% url 'loginuser' %}">Войти в кабинет</a></li>
        </ul>
    </div>
</div>
{% endif %}

<div class="content">
    <div class="wrap">
      {% block content %}
      {% endblock %}
    </div>
</div>
</body>
</html>