{% extends 'fitness/base.html' %}

{% block content %}
<main>
    <div class="container">
        <div>
            <img class="avatar avatar--xl" src="{{ profile.profile_image.url }}" />
            <h2>{{ profile.username }}</h2>
            <p>{{ profile.short_info }}</p>
        </div>
        <div>
            <p>{{ profile.bio }}</p>
            {% for skill in profile.skill_set.all|slice:"3" %}
            <p class="tag tag--pill tag--sub settings__btn tag--lg"> {{ skill.name }}</p>
            <p> {{ skill.description }}</p>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}