{% extends 'fitness/base.html' %}
{% block content %}
<h1>
    Тренеры
</h1>

<div>
    <form class="form" action="{% url 'profiles' %}" method="get">
        <div>
            <label>Поиск</label>
            <input type="text" name="search_query" value="{{ search_query }}" placeholder="Поиск тренера">
        </div>
        <input type="submit" value="Поиск">
    </form>
</div>
<div class="content_prof">
    {% for profile in profiles %}
    <a href="{% url 'coach' profile.id %}">
        <ul class="prof">
            <li><b>{{ profile.name }}</b></li>
            <li>{{ profile.short_info }}</li>
            <li><img src="{{ profile.profile_image.url }}" alt=""></li>
            {% for skill in profile.skill_set.all|slice:"3" %}
            <li class="tag tag--pill tag--sub settings__btn tag--lg"> {{ skill }}</li>
            {% endfor %}
        </ul>
    </a>
    {% endfor %}
</div>

{% endblock %}